<!DOCTYPE html>
<!-- Template by html.am -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>IQ Tech</title>

    <link rel="stylesheet" href="~/css/master.css" />

    <script type="text/javascript" src="~/js/master.js"></script>
</head>

<body>

    <header id="header">
        <div class="innerHeader">
            <h1>IQ Tech</h1>
        </div>
    </header>

    <div id="wrapper">

        <main>
            <div id="content">
                <div class="innertube">
                    <h1>Heading</h1>
                    <p>
                    <script>generateText(20)</script></p>
                    @RenderBody()
                </div>
            </div>
        </main>

        <nav id="nav">
            <div class="innertube">

                <ul id="menu">
                    <li>
                        <input type="checkbox" checked="checked"/>
                        @Html.ActionLink("Home", "Index", "Home")
                        <ul>
                            <li>@Html.ActionLink("subItem1", "Index", "Home")</li>
                            <li>@Html.ActionLink("subItem2", "Index", "Home")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("About", "Index", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Index", "Home")</li>
                </ul>

            </div>
        </nav>

    </div>

    <footer id="footer">
        <div class="innertube">
            <p>Footer...</p>
        </div>
    </footer>

</body>
</html>
